In [151]:
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.types import TimestampType
import os
from pyspark.sql.functions import col, lit, concat, avg, when, sum, count, min, max, split, to_timestamp, from_utc_timestamp, date_format, reduce, when, upper

In [117]:
spark = SparkSession.builder.appName("MySparkApp").getOrCreate()

In [155]:
fichiers_csv = [f for f in os.listdir(dossier) if f.endswith('.csv')]
fichiers_csv

['CountryRegionCurrency.csv',
 'CreditCard.csv',
 'Currency.csv',
 'CurrencyRate.csv',
 'Customer.csv',
 'PersonCreditCard.csv',
 'SalesOrderDetail.csv',
 'SalesOrderHeader.csv',
 'SalesOrderHeaderSalesReason.csv',
 'SalesPerson.csv',
 'SalesPersonQuotaHistory.csv',
 'SalesReason.csv',
 'SalesTaxRate.csv',
 'SalesTerritory.csv',
 'SalesTerritoryHistory.csv',
 'ShoppingCartItem.csv',
 'SpecialOffer.csv',
 'SpecialOfferProduct.csv',
 'Store.csv']

In [220]:
dossier = './Data'
fichiers_csv = [f for f in os.listdir(dossier) if f.endswith('.csv')]

for fichier in fichiers_csv:
    nom_df = fichier.split('.')[0]  
    df = spark.read.csv(os.path.join(dossier, fichier), header=True, inferSchema=True)
    df = df.dropDuplicates()
    globals()[f"{nom_df}_df"] = df

## CountryRegionCurrency

In [122]:
# Nothing Except ModifiedDate to Date 
CountryRegionCurrency_df = CountryRegionCurrency_df.withColumnRenamed("ModifiedDate", "Date")
##

In [162]:

df_missing_values_CountryRegionCurrency_df = CountryRegionCurrency_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in CountryRegionCurrency_df.columns
])

df_missing_values_CountryRegionCurrency_df.show()

+-----------------+------------+----+
|CountryRegionCode|CurrencyCode|Date|
+-----------------+------------+----+
|                1|           0|   0|
+-----------------+------------+----+

In [154]:
CountryRegionCurrency_df.dtypes

[('CountryRegionCode', 'string'),
 ('CurrencyCode', 'string'),
 ('Date', 'timestamp')]

## CreditCard

In [124]:
##
CreditCard_df = CreditCard_df.withColumnRenamed("ModifiedDate", "Date")

In [161]:

df_missing_values_CreditCard_df = CreditCard_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in CreditCard_df.columns
])

df_missing_values_CreditCard_df.show()

+------------+--------+----------+--------+-------+----+
|CreditCardID|CardType|CardNumber|ExpMonth|ExpYear|Date|
+------------+--------+----------+--------+-------+----+
|           0|       0|         0|       0|      0|   0|
+------------+--------+----------+--------+-------+----+

In [153]:
CreditCard_df.dtypes

[('CreditCardID', 'int'),
 ('CardType', 'string'),
 ('CardNumber', 'bigint'),
 ('ExpMonth', 'int'),
 ('ExpYear', 'int'),
 ('Date', 'timestamp')]

## Currency

In [156]:
Currency_df = Currency_df.withColumnRenamed("ModifiedDate", "Date")

In [157]:
Currency_df.dtypes

[('CurrencyCode', 'string'), ('Name', 'string'), ('Date', 'timestamp')]

In [160]:

df_missing_values_Currency_df = Currency_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in Currency_df.columns
])

df_missing_values_Currency_df.show()

+------------+----+----+
|CurrencyCode|Name|Date|
+------------+----+----+
|           0|   0|   0|
+------------+----+----+

## CurrencyRate

In [163]:
CurrencyRate_df = CurrencyRate_df.withColumnRenamed("ModifiedDate", "Date")

In [164]:
CurrencyRate_df.dtypes

[('CurrencyRateID', 'int'),
 ('CurrencyRateDate', 'timestamp'),
 ('FromCurrencyCode', 'string'),
 ('ToCurrencyCode', 'string'),
 ('AverageRate', 'double'),
 ('EndOfDayRate', 'double'),
 ('Date', 'timestamp')]

In [165]:

df_missing_values_CurrencyRate_df = CurrencyRate_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in CurrencyRate_df.columns
])

df_missing_values_CurrencyRate_df.show()

+--------------+----------------+----------------+--------------+-----------+------------+----+
|CurrencyRateID|CurrencyRateDate|FromCurrencyCode|ToCurrencyCode|AverageRate|EndOfDayRate|Date|
+--------------+----------------+----------------+--------------+-----------+------------+----+
|             0|               0|               0|             0|          0|           0|   0|
+--------------+----------------+----------------+--------------+-----------+------------+----+

In [234]:
CurrencyRate_df.count()

13532

## Customer

In [166]:
Customer_df = Customer_df.withColumnRenamed("ModifiedDate", "Date")

In [168]:
Customer_df.dtypes

[('CustomerID', 'int'),
 ('PersonID', 'string'),
 ('StoreID', 'string'),
 ('TerritoryID', 'int'),
 ('AccountNumber', 'string'),
 ('rowguid', 'string'),
 ('Date', 'timestamp')]

In [170]:

df_missing_values_Customer_df = Customer_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in Customer_df.columns
])

df_missing_values_Customer_df.show()
print(Customer_df.count())

+----------+--------+-------+-----------+-------------+-------+----+
|CustomerID|PersonID|StoreID|TerritoryID|AccountNumber|rowguid|Date|
+----------+--------+-------+-----------+-------------+-------+----+
|         0|     701|  18484|          0|            0|      0|   0|
+----------+--------+-------+-----------+-------------+-------+----+

19820

In [185]:
print('pour StoreId ', 18484/Customer_df.count(), ' %')
print('pour PersonId ', 701/Customer_df.count(), ' %')

pour StoreId  0.9667869658454941  %
pour PersonId  0.03666509754694283  %

In [173]:
Customer_df = Customer_df.drop('StoreID')

In [ ]:
Customer_df.where(col('PersonID') == 'NULL').show()

In [182]:
Customer_df = Customer_df.filter(~(col('PersonID') == 'NULL'))

In [183]:
Customer_df.where(col('PersonID') == 'NULL').show()

+----------+--------+-----------+-------------+-------+----+
|CustomerID|PersonID|TerritoryID|AccountNumber|rowguid|Date|
+----------+--------+-----------+-------------+-------+----+
+----------+--------+-----------+-------------+-------+----+

In [184]:

df_missing_values_Customer_df = Customer_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in Customer_df.columns
])

df_missing_values_Customer_df.show()
print(Customer_df.count())

+----------+--------+-----------+-------------+-------+----+
|CustomerID|PersonID|TerritoryID|AccountNumber|rowguid|Date|
+----------+--------+-----------+-------------+-------+----+
|         0|       0|          0|            0|      0|   0|
+----------+--------+-----------+-------------+-------+----+

19119

In [250]:
Customer_df.dtypes

[('CustomerID', 'int'),
 ('PersonID', 'string'),
 ('StoreID', 'string'),
 ('TerritoryID', 'int'),
 ('AccountNumber', 'string'),
 ('rowguid', 'string'),
 ('ModifiedDate', 'timestamp')]

In [251]:
Customer_df = Customer_df.withColumn("PersonID", Customer_df["PersonID"].cast("int"))

## PersonCreditCard

In [191]:
PersonCreditCard_df  = PersonCreditCard_df .withColumnRenamed("ModifiedDate", "Date")

In [192]:
PersonCreditCard_df.dtypes

[('BusinessEntityID', 'int'), ('CreditCardID', 'int'), ('Date', 'timestamp')]

In [193]:

df_missing_values_PersonCreditCard_df = PersonCreditCard_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in PersonCreditCard_df.columns
])

df_missing_values_PersonCreditCard_df.show()
print(PersonCreditCard_df.count())

+----------------+------------+----+
|BusinessEntityID|CreditCardID|Date|
+----------------+------------+----+
|               0|           0|   0|
+----------------+------------+----+

19118

## SalesOrderDetail

In [194]:
SalesOrderDetail_df.count()

121317

In [197]:
SalesOrderDetail_df  = SalesOrderDetail_df .withColumnRenamed("ModifiedDate", "Date")

In [195]:
SalesOrderDetail_df.dtypes

[('SalesOrderID', 'int'),
 ('SalesOrderDetailID', 'int'),
 ('CarrierTrackingNumber', 'string'),
 ('OrderQty', 'int'),
 ('ProductID', 'int'),
 ('SpecialOfferID', 'int'),
 ('UnitPrice', 'double'),
 ('UnitPriceDiscount', 'double'),
 ('LineTotal', 'double'),
 ('rowguid', 'string'),
 ('ModifiedDate', 'timestamp')]

In [196]:

df_missing_values_SalesOrderDetail_df = SalesOrderDetail_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in SalesOrderDetail_df.columns
])

df_missing_values_SalesOrderDetail_df.show()
print(SalesOrderDetail_df.count())

+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+-------+------------+
|SalesOrderID|SalesOrderDetailID|CarrierTrackingNumber|OrderQty|ProductID|SpecialOfferID|UnitPrice|UnitPriceDiscount|LineTotal|rowguid|ModifiedDate|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+-------+------------+
|           0|                 0|                60398|       0|        0|             0|        0|                0|        0|      0|           0|
+------------+------------------+---------------------+--------+---------+--------------+---------+-----------------+---------+-------+------------+

121317

In [198]:
SalesOrderDetail_df.where(col('CarrierTrackingNumber') == 'NULL').count()

60398

In [203]:
print("pour CarrierTrackingNumber  ",60398 /  SalesOrderDetail_df.count(), ' %')

pour CarrierTrackingNumber   0.4978527329228385  %

In [204]:
SalesOrderDetail_df = SalesOrderDetail_df.withColumn(
    'CarrierTrackingNumber',
    when(col("CarrierTrackingNumber") == 'NULL', lit('UNKNOWN'))
    .otherwise(SalesOrderDetail_df.CarrierTrackingNumber)
)

In [252]:
SalesOrderDetail_df.dtypes

[('SalesOrderID', 'int'),
 ('SalesOrderDetailID', 'int'),
 ('CarrierTrackingNumber', 'string'),
 ('OrderQty', 'int'),
 ('ProductID', 'int'),
 ('SpecialOfferID', 'int'),
 ('UnitPrice', 'double'),
 ('UnitPriceDiscount', 'double'),
 ('LineTotal', 'double'),
 ('rowguid', 'string'),
 ('ModifiedDate', 'timestamp')]

## SalesOrderHeader

In [221]:
SalesOrderHeader_df  = SalesOrderHeader_df .withColumnRenamed("ModifiedDate", "Date")

In [222]:
SalesOrderHeader_df.dtypes

[('SalesOrderID', 'int'),
 ('RevisionNumber', 'int'),
 ('OrderDate', 'timestamp'),
 ('DueDate', 'timestamp'),
 ('ShipDate', 'timestamp'),
 ('Status', 'int'),
 ('OnlineOrderFlag', 'int'),
 ('SalesOrderNumber', 'string'),
 ('PurchaseOrderNumber', 'string'),
 ('AccountNumber', 'string'),
 ('CustomerID', 'int'),
 ('SalesPersonID', 'string'),
 ('TerritoryID', 'int'),
 ('BillToAddressID', 'int'),
 ('ShipToAddressID', 'int'),
 ('ShipMethodID', 'int'),
 ('CreditCardID', 'string'),
 ('CreditCardApprovalCode', 'string'),
 ('CurrencyRateID', 'string'),
 ('SubTotal', 'double'),
 ('TaxAmt', 'double'),
 ('Freight', 'double'),
 ('TotalDue', 'double'),
 ('Comment', 'string'),
 ('rowguid', 'string'),
 ('Date', 'timestamp')]

In [223]:

df_missing_values_SalesOrderHeader_df = SalesOrderHeader_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in SalesOrderHeader_df.columns
])

df_missing_values_SalesOrderHeader_df.show()
print(SalesOrderHeader_df.count())

+------------+--------------+---------+-------+--------+------+---------------+----------------+-------------------+-------------+----------+-------------+-----------+---------------+---------------+------------+------------+----------------------+--------------+--------+------+-------+--------+-------+-------+----+
|SalesOrderID|RevisionNumber|OrderDate|DueDate|ShipDate|Status|OnlineOrderFlag|SalesOrderNumber|PurchaseOrderNumber|AccountNumber|CustomerID|SalesPersonID|TerritoryID|BillToAddressID|ShipToAddressID|ShipMethodID|CreditCardID|CreditCardApprovalCode|CurrencyRateID|SubTotal|TaxAmt|Freight|TotalDue|Comment|rowguid|Date|
+------------+--------------+---------+-------+--------+------+---------------+----------------+-------------------+-------------+----------+-------------+-----------+---------------+---------------+------------+------------+----------------------+--------------+--------+------+-------+--------+-------+-------+----+
|           0|             0|        0|      0|       0|     0|              0|               0|              27659|            0|         0|        27659|          0|              0|              0|           0|        1131|                  1131|         17489|       0|     0|      0|       0|  31465|      0|   0|
+------------+--------------+---------+-------+--------+------+---------------+----------------+-------------------+-------------+----------+-------------+-----------+---------------+---------------+------------+------------+----------------------+--------------+--------+------+-------+--------+-------+-------+----+

31465

In [224]:
print("pour PurchaseOrderNumber", 27659/SalesOrderHeader_df.count(), ' %')
print("pour SalesPersonID", 27659/SalesOrderHeader_df.count(), ' %')
print("pour CreditCardID", 1131/SalesOrderHeader_df.count(), ' %')
print("pour CreditCardApprovalCode", 1131/SalesOrderHeader_df.count(), ' %')
print("pour CurrencyRateID", 17489/SalesOrderHeader_df.count(), ' %')
print("pour Comment", 31465/SalesOrderHeader_df.count(), ' %')

pour PurchaseOrderNumber 0.8790402034006038  %
pour SalesPersonID 0.8790402034006038  %
pour CreditCardID 0.035944700460829496  %
pour CreditCardApprovalCode 0.035944700460829496  %
pour CurrencyRateID 0.5558239313522962  %
pour Comment 1.0  %

In [235]:
SalesOrderHeader_df.select("CurrencyRateID").distinct().count()

2477

In [227]:
SalesOrderHeader_df = SalesOrderHeader_df.drop("PurchaseOrderNumber", "SalesPersonID", "Comment", "CurrencyRateID")

In [230]:
SalesOrderHeader_df = SalesOrderHeader_df.filter(col('CreditCardID') != 'NULL')

In [253]:
SalesOrderHeader_df.dtypes

[('SalesOrderID', 'int'),
 ('RevisionNumber', 'int'),
 ('OrderDate', 'timestamp'),
 ('DueDate', 'timestamp'),
 ('ShipDate', 'timestamp'),
 ('Status', 'int'),
 ('OnlineOrderFlag', 'int'),
 ('SalesOrderNumber', 'string'),
 ('AccountNumber', 'string'),
 ('CustomerID', 'int'),
 ('TerritoryID', 'int'),
 ('BillToAddressID', 'int'),
 ('ShipToAddressID', 'int'),
 ('ShipMethodID', 'int'),
 ('CreditCardID', 'string'),
 ('CreditCardApprovalCode', 'string'),
 ('CurrencyRateID', 'string'),
 ('SubTotal', 'double'),
 ('TaxAmt', 'double'),
 ('Freight', 'double'),
 ('TotalDue', 'double'),
 ('rowguid', 'string'),
 ('Date', 'timestamp')]

In [254]:
SalesOrderHeader_df = SalesOrderHeader_df.withColumn("CreditCardID", SalesOrderHeader_df["CreditCardID"].cast("int"))

## SalesOrderHeaderSalesReason

In [236]:
SalesOrderHeaderSalesReason_df  = SalesOrderHeaderSalesReason_df .withColumnRenamed("ModifiedDate", "Date")

In [238]:

df_missing_values_SalesOrderHeaderSalesReason_df = SalesOrderHeaderSalesReason_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in SalesOrderHeaderSalesReason_df.columns
])

df_missing_values_SalesOrderHeaderSalesReason_df.show()
print(SalesOrderHeaderSalesReason_df.count())

+------------+-------------+----+
|SalesOrderID|SalesReasonID|Date|
+------------+-------------+----+
|           0|            0|   0|
+------------+-------------+----+

27647

In [239]:
SalesOrderHeaderSalesReason_df.dtypes

[('SalesOrderID', 'int'), ('SalesReasonID', 'int'), ('Date', 'timestamp')]

## SalesPerson

In [240]:
SalesPerson_df  = SalesPerson_df .withColumnRenamed("ModifiedDate", "Date")

In [241]:

df_missing_values_SalesPerson_df = SalesPerson_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in SalesPerson_df.columns
])

df_missing_values_SalesPerson_df.show()
print(SalesPerson_df.count())

+----------------+-----------+----------+-----+-------------+--------+-------------+-------+----+
|BusinessEntityID|TerritoryID|SalesQuota|Bonus|CommissionPct|SalesYTD|SalesLastYear|rowguid|Date|
+----------------+-----------+----------+-----+-------------+--------+-------------+-------+----+
|               0|          3|         3|    0|            0|       0|            0|      0|   0|
+----------------+-----------+----------+-----+-------------+--------+-------------+-------+----+

17

In [244]:
SalesPerson_df = SalesPerson_df.filter(col('TerritoryID') != 'NULL')

In [246]:
SalesPerson_df.dtypes

[('BusinessEntityID', 'int'),
 ('TerritoryID', 'string'),
 ('SalesQuota', 'string'),
 ('Bonus', 'double'),
 ('CommissionPct', 'double'),
 ('SalesYTD', 'double'),
 ('SalesLastYear', 'double'),
 ('rowguid', 'string'),
 ('Date', 'timestamp')]

In [248]:
SalesPerson_df = SalesPerson_df.withColumn("TerritoryID", SalesPerson_df["TerritoryID"].cast("int"))
SalesPerson_df = SalesPerson_df.withColumn("SalesQuota", SalesPerson_df["SalesQuota"].cast("double"))

In [249]:
SalesPerson_df.dtypes

[('BusinessEntityID', 'int'),
 ('TerritoryID', 'int'),
 ('SalesQuota', 'double'),
 ('Bonus', 'double'),
 ('CommissionPct', 'double'),
 ('SalesYTD', 'double'),
 ('SalesLastYear', 'double'),
 ('rowguid', 'string'),
 ('Date', 'timestamp')]

## SalesPersonQuotaHistory

In [255]:
SalesPersonQuotaHistory_df  = SalesPersonQuotaHistory_df .withColumnRenamed("ModifiedDate", "Date")

In [256]:

df_missing_values_SalesPersonQuotaHistory_df = SalesPersonQuotaHistory_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in SalesPersonQuotaHistory_df.columns
])

df_missing_values_SalesPersonQuotaHistory_df.show()
print(SalesPersonQuotaHistory_df.count())

+----------------+---------+----------+-------+----+
|BusinessEntityID|QuotaDate|SalesQuota|rowguid|Date|
+----------------+---------+----------+-------+----+
|               0|        0|         0|      0|   0|
+----------------+---------+----------+-------+----+

163

In [257]:
SalesPersonQuotaHistory_df.dtypes

[('BusinessEntityID', 'int'),
 ('QuotaDate', 'timestamp'),
 ('SalesQuota', 'double'),
 ('rowguid', 'string'),
 ('Date', 'timestamp')]

## SalesReason

In [258]:
SalesReason_df = SalesReason_df.withColumnRenamed("ModifiedDate", "Date")

DataFrame[SalesReasonID: int, Name: string, ReasonType: string, Date: timestamp]

In [259]:

df_missing_values_SalesReason_df = SalesReason_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in SalesReason_df.columns
])

df_missing_values_SalesReason_df.show()
print(SalesReason_df.count())

+-------------+----+----------+------------+
|SalesReasonID|Name|ReasonType|ModifiedDate|
+-------------+----+----------+------------+
|            0|   0|         0|           0|
+-------------+----+----------+------------+

10

In [260]:
SalesReason_df.dtypes

[('SalesReasonID', 'int'),
 ('Name', 'string'),
 ('ReasonType', 'string'),
 ('ModifiedDate', 'timestamp')]

## SalesTaxRate

In [261]:
SalesTaxRate_df = SalesTaxRate_df.withColumnRenamed("ModifiedDate", "Date")

In [262]:

df_missing_values_SalesTaxRate_df = SalesTaxRate_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in SalesTaxRate_df.columns
])

df_missing_values_SalesTaxRate_df.show()
print(SalesTaxRate_df.count())

+--------------+---------------+-------+-------+----+-------+----+
|SalesTaxRateID|StateProvinceID|TaxType|TaxRate|Name|rowguid|Date|
+--------------+---------------+-------+-------+----+-------+----+
|             0|              0|      0|      0|   0|      0|   0|
+--------------+---------------+-------+-------+----+-------+----+

29

In [263]:
SalesTaxRate_df.dtypes

[('SalesTaxRateID', 'int'),
 ('StateProvinceID', 'int'),
 ('TaxType', 'int'),
 ('TaxRate', 'double'),
 ('Name', 'string'),
 ('rowguid', 'string'),
 ('Date', 'timestamp')]

## SalesTerritory

In [264]:
SalesTerritory_df = SalesTerritory_df.withColumnRenamed("ModifiedDate", "Date")

In [265]:

df_missing_values_SalesTerritory_df = SalesTerritory_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in SalesTerritory_df.columns
])

df_missing_values_SalesTerritory_df.show()
print(SalesTerritory_df.count())

+-----------+----+-----------------+-----+--------+-------------+-------+------------+-------+----+
|TerritoryID|Name|CountryRegionCode|Group|SalesYTD|SalesLastYear|CostYTD|CostLastYear|rowguid|Date|
+-----------+----+-----------------+-----+--------+-------------+-------+------------+-------+----+
|          0|   0|                0|    0|       0|            0|      0|           0|      0|   0|
+-----------+----+-----------------+-----+--------+-------------+-------+------------+-------+----+

10

In [266]:
SalesTerritory_df.dtypes

[('TerritoryID', 'int'),
 ('Name', 'string'),
 ('CountryRegionCode', 'string'),
 ('Group', 'string'),
 ('SalesYTD', 'double'),
 ('SalesLastYear', 'double'),
 ('CostYTD', 'double'),
 ('CostLastYear', 'double'),
 ('rowguid', 'string'),
 ('Date', 'timestamp')]

## SalesTerritoryHistory

In [267]:
SalesTerritoryHistory_df = SalesTerritoryHistory_df.withColumnRenamed("ModifiedDate", "Date")

In [268]:

df_missing_values_SalesTerritoryHistory_df = SalesTerritoryHistory_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in SalesTerritoryHistory_df.columns
])

df_missing_values_SalesTerritoryHistory_df.show()
print(SalesTerritoryHistory_df.count())

+----------------+-----------+---------+-------+-------+----+
|BusinessEntityID|TerritoryID|StartDate|EndDate|rowguid|Date|
+----------------+-----------+---------+-------+-------+----+
|               0|          0|        0|     13|      0|   0|
+----------------+-----------+---------+-------+-------+----+

17

In [273]:
SalesTerritoryHistory_df = SalesTerritoryHistory_df.drop('EndDate')
# to discuss

In [274]:
SalesTerritoryHistory_df.show(2)

+----------------+-----------+-------------------+--------------------+-------------------+
|BusinessEntityID|TerritoryID|          StartDate|             rowguid|               Date|
+----------------+-----------+-------------------+--------------------+-------------------+
|             290|          7|2012-05-30 00:00:00|8895E74D-6D38-414...|2012-05-23 00:00:00|
|             276|          4|2011-05-31 00:00:00|64BCB1B3-A793-40B...|2011-05-24 00:00:00|
+----------------+-----------+-------------------+--------------------+-------------------+
only showing top 2 rows

In [275]:
SalesTerritoryHistory_df.dtypes

[('BusinessEntityID', 'int'),
 ('TerritoryID', 'int'),
 ('StartDate', 'timestamp'),
 ('rowguid', 'string'),
 ('Date', 'timestamp')]

## ShoppingCartItem

In [276]:
ShoppingCartItem_df = ShoppingCartItem_df.withColumnRenamed("ModifiedDate", "Date")

In [278]:
ShoppingCartItem_df.show()

+------------------+--------------+--------+---------+--------------------+--------------------+
|ShoppingCartItemID|ShoppingCartID|Quantity|ProductID|         DateCreated|                Date|
+------------------+--------------+--------+---------+--------------------+--------------------+
|                 4|         20621|       4|      881|2013-11-09 17:54:...|2013-11-09 17:54:...|
|                 5|         20621|       7|      874|2013-11-09 17:54:...|2013-11-09 17:54:...|
|                 2|         14951|       3|      862|2013-11-09 17:54:...|2013-11-09 17:54:...|
+------------------+--------------+--------+---------+--------------------+--------------------+

In [277]:
ShoppingCartItem_df.dtypes

[('ShoppingCartItemID', 'int'),
 ('ShoppingCartID', 'int'),
 ('Quantity', 'int'),
 ('ProductID', 'int'),
 ('DateCreated', 'timestamp'),
 ('Date', 'timestamp')]

## SpecialOffer

In [279]:
SpecialOffer_df = SpecialOffer_df.withColumnRenamed("ModifiedDate", "Date")

In [280]:

df_missing_values_SpecialOffer_df = SpecialOffer_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in SpecialOffer_df.columns
])

df_missing_values_SpecialOffer_df.show()
print(SpecialOffer_df.count())

+--------------+-----------+-----------+----+--------+---------+-------+------+------+-------+----+
|SpecialOfferID|Description|DiscountPct|Type|Category|StartDate|EndDate|MinQty|MaxQty|rowguid|Date|
+--------------+-----------+-----------+----+--------+---------+-------+------+------+-------+----+
|             0|          0|          0|   0|       0|        0|      0|     0|    12|      0|   0|
+--------------+-----------+-----------+----+--------+---------+-------+------+------+-------+----+

16

In [ ]:
# MaxQty : we can remove this columns but i think that there is a pattern behind it 
# 10 , 84

In [289]:
SpecialOffer_df = SpecialOffer_df.drop("MaxQty")

In [290]:
SpecialOffer_df.dtypes

[('SpecialOfferID', 'int'),
 ('Description', 'string'),
 ('DiscountPct', 'double'),
 ('Type', 'string'),
 ('Category', 'string'),
 ('StartDate', 'timestamp'),
 ('EndDate', 'timestamp'),
 ('MinQty', 'int'),
 ('rowguid', 'string'),
 ('Date', 'timestamp')]

## SpecialOfferProduct

In [282]:
SpecialOfferProduct_df = SpecialOfferProduct_df.withColumnRenamed("ModifiedDate", "Date")

In [283]:

df_missing_values_SpecialOfferProduct_df = SpecialOfferProduct_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in SpecialOfferProduct_df.columns
])

df_missing_values_SpecialOfferProduct_df.show()
print(SpecialOfferProduct_df.count())

+--------------+---------+-------+----+
|SpecialOfferID|ProductID|rowguid|Date|
+--------------+---------+-------+----+
|             0|        0|      0|   0|
+--------------+---------+-------+----+

538

In [284]:
SpecialOfferProduct_df.dtypes

[('SpecialOfferID', 'int'),
 ('ProductID', 'int'),
 ('rowguid', 'string'),
 ('Date', 'timestamp')]

## Store

In [285]:
Store_df = Store_df.withColumnRenamed("ModifiedDate", "Date")

In [286]:

df_missing_values_Store_df = Store_df.select([
    sum(
        when(
            (col(c).isNull()) |               
            (col(c) == '') |                  
            (col(c) == ' ') |          
            (col(c).rlike(r'^\s*$')) | 
            (upper(col(c)) == 'NULL') |
            (upper(col(c)) == 'NA') |  
            (upper(col(c)) == 'NAN') |  
            (upper(col(c)) == 'N/A') | 
            (upper(col(c)) == 'NONE'), 
            1
        ).otherwise(0)
    ).alias(c)
    for c in Store_df.columns
])

df_missing_values_Store_df.show()
print(Store_df.count())

+----------------+----+-------------+------------+-------+----+
|BusinessEntityID|Name|SalesPersonID|Demographics|rowguid|Date|
+----------------+----+-------------+------------+-------+----+
|               0|   0|            0|           0|      0|   0|
+----------------+----+-------------+------------+-------+----+

701

In [287]:
Store_df.dtypes

[('BusinessEntityID', 'int'),
 ('Name', 'string'),
 ('SalesPersonID', 'int'),
 ('Demographics', 'string'),
 ('rowguid', 'string'),
 ('Date', 'timestamp')]